<h1> Update Company Logo</h1>

<form action="/api/update/1" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Company Name">
    <input type="file" name="company_logo" placeholder="Company Logo">
    <input type="submit" value="Update">
</form>